        .container {
            /* border: 1px solid red; */
            width: 33%;
            padding: 40px;
            margin: 150px auto;
            background-color: gray;
            border-radius: 30px;
        }
        .container input{
            display:block;
            padding: 7px;
            margin:8px auto;
            width: 80%;
            border-radius: 10px;
            height: 25px;
            border: 2px solid black;
            text-align: center;
            font-style: italic;
        }
        button{
            margin-left: 42%;
            text-align: center;
            border-radius: 5px;
            width: 100px;
            height: 36px;
            background-color: black;
            color: white;
            font-weight: bolder;
        }
        button:hover{
            background-color: white;
            color: black;
        }
        #form{ text-decoration: underline;
            text-underline-offset: 8px;
            
        }